.library-info-container {
  background: #f3f3f3;
  padding: 16px 24px;
  border-radius: 4px;
}

.library-name {
  color: #333333;
}

.horizontal-padding {
  padding: 0 24px;
}

.divider {
  border-color: #8c8c8c;
}
