#edit-library-page {
  font-family: Rubik, sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1.5rem 2rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: #ededed;
  background-color: white;

  .flow-container {
    display: flex;
    flex-grow: 1;

    #divider {
      width: 22px;
      height: initial;
      background-color: #dddddd;
      cursor: ew-resize;
    }
  }

  #sticky-footer {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 0 32px;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-top: solid 1px #8c8c8c;
    height: 95px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
  }
}

.form-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-bottom: 40px;
}

.allotment-wrapper {
  margin: 0 32px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  .inner-right {
    margin-left: 30px;
  }
  .split-view {
    position: relative;
    height: 700px;

    .left-panel {
      width: 75%;
      overflow: hidden;

      > .panel-content {
        padding-top: 32px;
        padding-left: 32px;
        padding-right: 20px;
        height: calc(100% - 48px);
      }
    }

    .right-panel {
      width: 25%;
      margin-left: 12px;

      > .panel-content {
        padding-left: 16px;
        padding-right: 16px;
        height: calc(100% - 48px);
      }

      > .tab-container {
        > .MuiButtonBase-root {
          margin-right: 8px;

          > .back-icon {
            color: #0073c8;
          }
        }

        > .spacer {
          display: flex;
          flex-grow: 1;
        }

        > .MuiTabs-root {
          > .MuiTabs-scroller {
            overflow-x: auto !important;
          }
        }
      }
    }

    .left-panel,
    .right-panel {
      height: 100%;
      background: #fff;

      > .tab-container {
        background-color: #ededed;
        display: flex;
        flex-direction: row;
        align-items: center;

        > .MuiTabs-root {
          background-color: #ededed;
          margin-left: 16px;
        }
      }

      > .panel-content {
        overflow: scroll;
      }
    }

    .sash {
      width: 16px;
      background-color: #ddd;
      &:before {
        position: absolute;
        content: "";
        top: 50%;
        width: 4px;
        height: 34px;
        border: solid 1.5px #717171;
        border-color: transparent #717171 transparent #717171;
      }

      &:after {
        position: absolute;
        content: "";
        top: 0;
        height: 48px;
        width: 100%;
        background-color: #ededed;
      }
    }
  }
}
