#edit-library-page {
  font-family: Rubik, sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1.5rem 2rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: #EDEDED;
  background-color: white;

  .flow-container {
    display: flex;
    flex-grow: 1;

    #left-panel {
      width: 75%;
      overflow: hidden;
    }

    #right-panel {
      width: 25%;

      > .inner-right {
        padding: 43px 32px;
      }

      textarea {
        resize: vertical;
        border: none;
      }

      label {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #333;
        text-transform: none;
      }
    }

    #divider {
      width: 22px;
      height: initial;
      background-color: #dddddd;
      cursor: ew-resize;
    }
  }

  #sticky-footer {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 0 32px;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-top: solid 1px #b0b0b0;
    height: 95px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;

    > button {
      margin-top: 0;
    }

    .blue-60-outline {
      border: solid 1px #0073c8;
      color: #0073c8;
      border-radius: 3px;
      display: inline-block;
      font-family: Rubik, Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 0.875rem;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 1;
      padding: 0.75rem 1rem;
      text-align: center;
      margin-right: 32px;
      text-decoration: none;

      &:disabled {
        border: #dddddd;
        color: #dddddd;
        pointer-events: none;
      }
    }
  }
}

.form-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-bottom: 40px;
}
